.latest-update-indicator {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  background: linear-gradient(135deg, rgba(33, 150, 243, 0.3), rgba(33, 150, 243, 0.1));
  border-radius: 100px;
  border: 1px solid rgba(33, 150, 243, 0.4);
  transition: all 0.3s ease;
  position: relative;
  /* margin-left: auto; */
  margin-right: auto;
  cursor: pointer;
  padding-right: 15px;
  /* flex: 1; Use flex-grow to fill available space */
}


.latest-update-indicator:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 8px rgba(33, 150, 243, 0.2);
  /* max-width: 300px; */
}

.latest-update-indicator .update-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid rgba(147, 0, 215, 0.3);
  flex-shrink: 0;
  margin: 0px 0px;
}

.latest-update-indicator .update-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 0; /* Required for text overflow to work */
  /* flex: 1; Use flex-grow to fill available space */
  /* overflow: hidden; Hide overflow */
}
.latest-update-indicator .update-info {
  display: flex;
  align-items: center;
  gap: 5px;
  /* width: 100%; Ensure it takes full width */
}

.latest-update-indicator .update-author {
  font-size: 0.75rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}

.latest-update-indicator .update-time {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.6);
  white-space: nowrap;
  flex-shrink: 0; /* Prevent time from shrinking */
  width: 100%;
  padding-right: 7px;
}


.latest-update-indicator .update-summary {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  width: 100%; /* Ensure it takes full width */
}

.latest-update-indicator .change-stats {
  display: flex;
  gap: 5px;
}

.latest-update-indicator .stat-badge {
  display: inline-flex;
  align-items: center;
  font-size: 0.65rem;
  /* padding: 0px 5px; */
  border-radius: 20px;
  background-color: transparent;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.latest-update-indicator .stat-badge.added {
  /* background: rgba(76, 175, 80, 0.2); */
  color: #51f256;
}

.latest-update-indicator .stat-badge.removed {
  /* background: rgba(244, 67, 54, 0.2); */
  color: #f64d41;
}

.latest-update-indicator .stat-badge.modified {
  /* background: rgba(255, 152, 0, 0.2); */
  color: #f6b24c;
}

.latest-update-indicator .stat-icon {
  margin-right: 2px;
}

.latest-update-indicator .commit-excerpt {
  font-style: italic;
  overflow: visible;
  color: rgba(33, 150, 243, 1);
  text-transform: lowercase;
  font-size: 11px;
}