
.buttonoutline
{
    background-color: transparent;
    padding: 10px 15px;
    border: 1px solid #fff3;
}
.buttonoutline:hover
{
    background-color: #fff1;
    transition: background-color 0.2s;
}