
.sidebar
{
    display: flex;
    flex-direction: column;
    height: calc( 100vh - 120px);
    box-sizing: border-box;
    min-width: 200px;
    position: fixed;
    /* top: 0; */
    left: 0;
    background-color: #fff1;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid #fff2;
    box-shadow: 0px 0px 25px #fff1;
    margin-top: 100px;
    top: 0;
    transition: transform 0.3s;
}

.sidebar .top{
    display: flex;
    flex-direction: column; 
    height: 100%;
}

.sidebar .bottom .buttonoutline{
    display: flex;
    flex: 1
}

.sidebar .bottom{
    display: flex;
    gap: 7px;
    justify-content: stretch;
    align-items: center;

}

.sidebar-btn
{
    display: flex;
    justify-content: flex-start;
    padding: 4px 10px;
    margin: 3px;
    align-items: center;
    border-radius: 10px; 
    border:1px solid #fff0;
    transition: 0.2s;
    cursor: pointer;
    color: white;
    opacity: 0.9;
    font-weight: 400;
    font-size: 14px;
}
.sidebar-btn:hover:not(.selected)
{
    /* background-color: #fff3; */
    border:1px solid #fff2;
}

.sidebar-btn.selected
{
    background-color: #fff1;
    /* border:1px solid #fff3; */
}

.sidebar-btn span
{
    /* width: 30px;
    height: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    border-radius: 5px;
    padding: 8px 0px;
    opacity: 0.5;
}

.sidebar-btn.selected span
{
    /* background-color: #fff1;    
    border:1px solid #fff2; */
}

  
  .sidebar-closed {
    transform: translateX(-115%);
  }
  
  .sidebar-open {
    transform: translateX(0);
  }
  
  .main-container {
    display: flex;
  }

