@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


:root
{
    --backgroundcolor: #1C001F
    --text: #fff
    --accent: #9300D7
}

#root
{
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, #1C001F 0%, #320036 100%);
}